@font-face {
    font-family: 'jungle';
    src: url('../fonts/jungle_df-webfont.woff2') format('woff2'),
         url('../fonts/jungle_df-webfont.woff') format('woff');
    font-style: normal;    
}

:root{
    --brown: rgb(149, 82, 15);
    --green: rgb(1, 87, 54);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'jungle';
    font-weight: 100;
    text-shadow: #fff 1px 1px 1px;
}

body{
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 700px;
}

.loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .7);
    backdrop-filter: blur(2px);
    z-index: 100;
}

.bgs{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.5);
    animation: 1s loading infinite;    
}

.bg-01 {
    min-width: 209px; height: 200px;    
    opacity: 0;
    background: url('./../imgs/css_sprites.png') -228px -0;
}

.bg-02 {
    min-width: 228px; height: 239px;
    opacity: 0;
    background: url('./../imgs/css_sprites.png') -0 -0;
    animation-delay: 250ms;
}

.bg-03 {
    min-width: 201px; height: 244px;
    opacity: 0;
    background: url('./../imgs/css_sprites.png') -0 -239px;
    animation-delay: 500ms;
}

.bg-04 {
    min-width: 168px; height: 205px;
    opacity: 0;
    background: url('./../imgs/css_sprites.png') -228px -200px;
    animation-delay: 750ms;
}

.container{
    background-image: url('../imgs/bg.png');
    background-repeat: no-repeat;
    width: 100vw;
    height: auto;
    min-height: 700px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    max-width: 800px;
    background-size: cover;
    background-position: top center;
    background-color: rgba(124, 227, 255, 0.121);
}

.text{
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-top: 10%;    
    color: var(--brown);
}

.text .hello{
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.text .guest{
    font-size: 1.5rem;
    margin-bottom: .5rem;
    color: var(--green);    
}

.text .long-text{
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

img{
    width: 7rem;
    height: auto;
    background-color: #ffa;
    display: block;
    margin: 0 auto;
    border: .2rem solid #fff;
    box-shadow: #ccc 0 0 10px;
    border-radius: 100%;
}

.infos{
    display: flex;
    margin: 20px auto 0 auto;
    width: 98%;
    justify-content: center;
    color: var(--green);
}

.date{
    display: flex;
    text-align: center;
    flex-direction: column;
    font-weight: 700;
    padding: 0 25px 0 0;
    position: relative;
    border-right: 2px solid var(--green);
}

.date .day{
    font-size: 2rem;
    font-weight: 100;
    font-style: normal;
    color: #fff;
    text-shadow: none;
    background-color: var(--brown);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.date .hour{
    font-size: 1rem;
}

.place{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 25px;
}

.place .buffet{
    font-size: 1.2rem;
}
.place .street{
    font-size: 1rem;
}

.animals{
    background-image: url('../imgs/animals-jeep.png');
    background-repeat: no-repeat;
    width: 350px;
    height: 368px;
    position: absolute;
    z-index: -1;
    top: 66%;
    opacity: .3;
    left: 50%;
    transform: translate(-50%, -50%) scale(.3);    
    animation: run 5s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.buttons{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
}

.buttons > div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

button, a{
    background-color: transparent;
    text-decoration: none;
    display: flex;    
    width: 100%;
    align-items: center;
    justify-content: center;
    border: none;    
    font-size: 16px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

button{
    border-radius: 3px;
    color: #fff;
    padding: 10px 20px;
    box-shadow: #ccc 1px 1px 3px;
    text-shadow: none;
    display: block;
    background-color: var(--green);
}

a{
    background-color: var(--brown);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: #ccc 1px 1px 3px;
}

a:last-child{
    background-color: var(--brown);
}

button:disabled{
    opacity: .5;
}
.feedback{
    color: var(--green);
    height: 50px;
    font-size: 1.2rem;
}

@keyframes run {
    from{
        transform: translate(-50%, -50%) scale(.3);
    }

    to{
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes loading {
    0%{
        opacity: 1;
    }
    10%{
        opacity: 1;
    }
    20%{
        opacity: 1;
    }
    30%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

@media (max-width: 320px) {
    .buttons{
        bottom: 2%;
    }
}